*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#root{
    background-color: rgba(255, 192, 203, 0.26);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.positive{
    color: rgba(0, 128, 0, 0.548);
}
.negative{
    color: rgba(255, 0, 0, 0.568);
}
.card{

    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.164);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 108rem rgba(0, 0, 0, 0.144);
    width: 50vw;
    height: 50vh;
    border-radius: 2rem;
}
h1{
    color: rgba(0, 0, 0, 0.363);
}
button{
    border-radius: 2rem;
    width: 10rem;
    height: 4rem;
    background-color: rgba(0, 255, 255, 0.199);
    border: none;
    margin-top:9rem;
    margin: 4rem;
}
button:hover{
    background-color: rgba(17, 158, 158, 0.692);
}